MARKET BASKET

HOW DOES MARKET BASKET ANALYSIS WORK?
IT IS FREQUENTLY USED IN RESTAURANTS,RETAIL STORES AND ONLINE SHOPPING PLATFORMS TO ENCOURAGE CUSTOMERS TO MAKE MORE PURCHASES IN A SINGLE VISIT. THIS IS A USE CASE OF DATA SCIENCE IN MARKETING THAT INCREASES COMPANY SALES AND DRIVES BUSINESS GROWTH ABD COMMONLY UTILIZES THE APRIORI ALGORITHM

WHAT IS APRIORI ALGORITHM?
IT IS THE MOST COMMON TECHNIQUE FOR PERFORMING MARKET BASKET ANALYSIS. IT IS USED FOR ASSOCIATION RULE MINING WHICH IS A RULE BASED PROCESS USED TO IDENTIFY CO-RELATIONS BETWEEN ITEMS PURCHASED AND THE USER.


WHAT ARE THE COMPONENTS OF APRIORI ALGORITHM?
1. SUPPORT - TO ASSESS THE OVERALL POPULARTY OF GIVEN PRODUCT WITH FOLLOWING FORMULA
             SUPPORT(ITEM) = ((Transactions comprising the item)/(Total transactions))
2. LIFT - REFERS TO THE INCREASE IN THE RATIO OF SALE 
            LIFT = (Confidence(Bread-> Milk)/Support(Bread))
3. CONFIDENCE - COMBINATION IS MATCHING.
                CONFIDENCE(Berad>Milk) = ((Tranasction compromising milk and bread)/(transaction compromsisng bread))

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('/workspaces/DAV/Groceries_dataset.csv')
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

DATA PREPARATION FOR MARKET BASKET ANALYSIS

BEFORE WE PERFORM MARKET BASKET ANALYSIS, WE NEED TO CONVERT THIS DATA INTO A FORMAT THAT CAN BE EASILY INGESTED INTO THE APRIORI ALGORITHM.

In [3]:
df['single_transaction'] = df['Member_number'].astype(str)+' , '+df['Date'].astype(str)+' , '+df['itemDescription'].astype(str)
df.head()

,Member_number,Date,itemDescription,single_transaction
0,1808,21-07-2015,tropical fruit,"1808 , 21-07-2015 , tropical fruit"
1,2552,05-01-2015,whole milk,"2552 , 05-01-2015 , whole milk"
2,2300,19-09-2015,pip fruit,"2300 , 19-09-2015 , pip fruit"
3,1187,12-12-2015,other vegetables,"1187 , 12-12-2015 , other vegetables"
4,3037,01-02-2015,whole milk,"3037 , 01-02-2015 , whole milk"

CONVERTING ITEMS INTO COLUMNS AND TRANSACTIONS INTP ROWS --> PIVOT

In [4]:
df2 = pd.crosstab(df['single_transaction'],df['itemDescription'])
df2.head()

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
single_transaction,,,,,,,,,,,,,,,,,,,,,
"1000 , 15-03-2015 , sausage",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"1000 , 15-03-2015 , semi-finished bread",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"1000 , 15-03-2015 , whole milk",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
"1000 , 15-03-2015 , yogurt",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
"1000 , 24-06-2014 , pastry",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

FINAL DATA PRE PROCESSING STEP INVOLVES ENCODING

In [5]:
def encode(item_freq):
    res = 0
    if item_freq > 0:
        res = 1
    return res

basket_input = df2.applymap(encode)
print(basket_input)

itemDescription                          Instant food products  UHT-milk  \
single_transaction
1000 , 15-03-2015 , sausage                                  0         0
1000 , 15-03-2015 , semi-finished bread                      0         0
1000 , 15-03-2015 , whole milk                               0         0
1000 , 15-03-2015 , yogurt                                   0         0
1000 , 24-06-2014 , pastry                                   0         0
...                                                        ...       ...
5000 , 10-02-2015 , root vegetables                          0         0
5000 , 10-02-2015 , semi-finished bread                      0         0
5000 , 10-02-2015 , soda                                     0         0
5000 , 16-11-2014 , bottled beer                             0         0
5000 , 16-11-2014 , other vegetables                         0         0

itemDescription                          abrasive cleaner  artif. sweetener  \
single_transaction
1000 , 15-03-2015 , sausage                             0                 0
1000 , 15-03-2015 , semi-finished bread                 0                 0
1000 , 15-03-2015 , whole milk                          0                 0
1000 , 15-03-2015 , yogurt                              0                 0
1000 , 24-06-2014 , pastry                              0                 0
...                                                   ...               ...
5000 , 10-02-2015 , root vegetables                     0                 0
5000 , 10-02-2015 , semi-finished bread                 0                 0
5000 , 10-02-2015 , soda                                0                 0
5000 , 16-11-2014 , bottled beer                        0                 0
5000 , 16-11-2014 , other vegetables                    0                 0

itemDescription                          baby cosmetics  bags  baking powder  \
single_transaction
1000 , 15-03-2015 , sausage                           0     0              0
1000 , 15-03-2015 , semi-finished bread               0     0              0
1000 , 15-03-2015 , whole milk                        0     0              0
1000 , 15-03-2015 , yogurt                            0     0              0
1000 , 24-06-2014 , pastry                            0     0              0
...                                                 ...   ...            ...
5000 , 10-02-2015 , root vegetables                   0     0              0
5000 , 10-02-2015 , semi-finished bread               0     0              0
5000 , 10-02-2015 , soda                              0     0              0
5000 , 16-11-2014 , bottled beer                      0     0              0
5000 , 16-11-2014 , other vegetables                  0     0              0

itemDescription                          bathroom cleaner  beef  berries  ...  \
single_transaction                                                        ...
1000 , 15-03-2015 , sausage                             0     0        0  ...
1000 , 15-03-2015 , semi-finished bread                 0     0        0  ...
1000 , 15-03-2015 , whole milk                          0     0        0  ...
1000 , 15-03-2015 , yogurt                              0     0        0  ...
1000 , 24-06-2014 , pastry                              0     0        0  ...
...                                                   ...   ...      ...  ...
5000 , 10-02-2015 , root vegetables                     0     0        0  ...
5000 , 10-02-2015 , semi-finished bread                 0     0        0  ...
5000 , 10-02-2015 , soda                                0     0        0  ...
5000 , 16-11-2014 , bottled beer                        0     0        0  ...
5000 , 16-11-2014 , other vegetables                    0     0        0  ...

itemDescription                          turkey  vinegar  waffles  \
single_transaction
1000 , 15-03-2015 , sausage                   0        0        0
1000 , 15-03-2015 , semi-finished bread       0        0        0
1000 , 15-03-2015 , whole milk                0        0        0
1000 , 15-03-2015 , yogurt                    0        0        0
1000 , 24-06-2014 , pastry                    0        0        0
...                                         ...      ...      ...
5000 , 10-02-2015 , root vegetables           0        0        0
5000 , 10-02-2015 , semi-finished bread       0        0        0
5000 , 10-02-2015 , soda                      0        0        0
5000 , 16-11-2014 , bottled beer              0        0        0
5000 , 16-11-2014 , other vegetables          0        0        0

itemDescription                          whipped/sour cream  whisky  \
single_transaction
1000 , 15-03-2015 , sausage                               0       0
1000 , 15-03-2015 , semi-finished bread                   0       0
1000 , 15-03-2015 , whole milk                            0       0
1000 , 15-03-2015 , yogurt                                0       0
1000 , 24-06-2014 , pastry                                0       0
...                                                     ...     ...
5000 , 10-02-2015 , root vegetables                       0       0
5000 , 10-02-2015 , semi-finished bread                   0       0
5000 , 10-02-2015 , soda                                  0       0
5000 , 16-11-2014 , bottled beer                          0       0
5000 , 16-11-2014 , other vegetables                      0       0

itemDescription                          white bread  white wine  whole milk  \
single_transaction
1000 , 15-03-2015 , sausage                        0           0           0
1000 , 15-03-2015 , semi-finished bread            0           0           0
1000 , 15-03-2015 , whole milk                     0           0           1
1000 , 15-03-2015 , yogurt                         0           0           0
1000 , 24-06-2014 , pastry                         0           0           0
...                                              ...         ...         ...
5000 , 10-02-2015 , root vegetables                0           0           0
5000 , 10-02-2015 , semi-finished bread            0           0           0
5000 , 10-02-2015 , soda                           0           0           0
5000 , 16-11-2014 , bottled beer                   0           0           0
5000 , 16-11-2014 , other vegetables               0           0           0

itemDescription                          yogurt  zwieback
single_transaction
1000 , 15-03-2015 , sausage                   0         0
1000 , 15-03-2015 , semi-finished bread       0         0
1000 , 15-03-2015 , whole milk                0         0
1000 , 15-03-2015 , yogurt                    1         0
1000 , 24-06-2014 , pastry                    0         0
...                                         ...       ...
5000 , 10-02-2015 , root vegetables           0         0
5000 , 10-02-2015 , semi-finished bread       0         0
5000 , 10-02-2015 , soda                      0         0
5000 , 16-11-2014 , bottled beer              0         0
5000 , 16-11-2014 , other vegetables          0         0

[38006 rows x 167 columns]

BUILDING THE APRIORI ALGORITHM FOR MARKET BASKET ANALYSIS

In [6]:
pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/python/3.10.8/lib/python3.10/site-packages (0.23.0)
Requirement already satisfied: scipy>=1.2.1 in /home/codespace/.local/lib/python3.10/site-packages (from mlxtend) (1.11.2)
Requirement already satisfied: numpy>=1.16.2 in /home/codespace/.local/lib/python3.10/site-packages (from mlxtend) (1.25.2)
Requirement already satisfied: pandas>=0.24.2 in /home/codespace/.local/lib/python3.10/site-packages (from mlxtend) (2.0.3)
Requirement already satisfied: scikit-learn>=1.0.2 in /home/codespace/.local/lib/python3.10/site-packages (from mlxtend) (1.3.0)
Requirement already satisfied: matplotlib>=3.0.0 in /home/codespace/.local/lib/python3.10/site-packages (from mlxtend) (3.7.2)
Requirement already satisfied: joblib>=0.13.2 in /home/codespace/.local/lib/python3.10/site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (4.42.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/codespace/.local/lib/python3.10/site-packages (from scikit-learn>=1.0.2->mlxtend) (3.2.0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
frequent_itemsets = apriori(basket_input,min_support=0.001,use_colnames=True)
rules = association_rules(frequent_itemsets,metric="lift")
rules.head()

/home/codespace/.python/current/lib/python3.10/site-packages/mlxtend/frequent_patterns/fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

: