DATA CLEANING AND DATA PREPROCESSING
1. Data cleaning is the process of changing or eliminating garbage,incorrect,duplcate or incomplete values
2. Data Preprocessing - Identifying what and which type of values are lost and filling them

DATA CLEANING CYCLE STAGES
1. Importing dataset
2. Merging dataset
3. Re-build missing data
4. Standardize the format 
5. Normalise
6. De-Duplicate
7. Verify and Enrich

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
print(df)

        one       two     three
a  1.026425  0.269625 -0.909831
c -0.474820 -0.282352 -0.254088
e -0.468462  0.313884  0.932545
f  0.980006  1.536773 -1.731291
h -0.932239  0.949792 -1.625921

In [2]:
df1 = df.reindex(['a','b','c','d','e','f','g','h'])
print(df1)

        one       two     three
a  1.026425  0.269625 -0.909831
b       NaN       NaN       NaN
c -0.474820 -0.282352 -0.254088
d       NaN       NaN       NaN
e -0.468462  0.313884  0.932545
f  0.980006  1.536773 -1.731291
g       NaN       NaN       NaN
h -0.932239  0.949792 -1.625921

2 .CHECKING THE MISSING VALUE USING

In [3]:
a = df1['one'].isnull()
b = df1['one'].isnull()
c = df1['one'].isnull()
print(a)
print(b)
print(c)

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

REPLACING THE ISSING VALUE

In [4]:
print(df1)
print("NaN replaced with '0':")
print(df1.fillna(0))

        one       two     three
a  1.026425  0.269625 -0.909831
b       NaN       NaN       NaN
c -0.474820 -0.282352 -0.254088
d       NaN       NaN       NaN
e -0.468462  0.313884  0.932545
f  0.980006  1.536773 -1.731291
g       NaN       NaN       NaN
h -0.932239  0.949792 -1.625921
NaN replaced with '0':
        one       two     three
a  1.026425  0.269625 -0.909831
b  0.000000  0.000000  0.000000
c -0.474820 -0.282352 -0.254088
d  0.000000  0.000000  0.000000
e -0.468462  0.313884  0.932545
f  0.980006  1.536773 -1.731291
g  0.000000  0.000000  0.000000
h -0.932239  0.949792 -1.625921

FILLING NA CAN BE DONE IN TWO WAYS
1. FORMARD - pad/fill
2. BACKWARD - dfill

In [5]:
df1 = df.reindex(['a','b','c','d','e','f','g','h'])
print("Before Filling")
print(df1)
print("After Filling")
print(df1.fillna(method='pad'))

Before Filling
        one       two     three
a  1.026425  0.269625 -0.909831
b       NaN       NaN       NaN
c -0.474820 -0.282352 -0.254088
d       NaN       NaN       NaN
e -0.468462  0.313884  0.932545
f  0.980006  1.536773 -1.731291
g       NaN       NaN       NaN
h -0.932239  0.949792 -1.625921
After Filling
        one       two     three
a  1.026425  0.269625 -0.909831
b  1.026425  0.269625 -0.909831
c -0.474820 -0.282352 -0.254088
d -0.474820 -0.282352 -0.254088
e -0.468462  0.313884  0.932545
f  0.980006  1.536773 -1.731291
g  0.980006  1.536773 -1.731291
h -0.932239  0.949792 -1.625921

In [6]:
df1 = df.reindex(['a','b','c','d','e','f','g','h'])
print("Before Filling")
print(df1)
print("After Filling")
print(df1.fillna(method='bfill'))

Before Filling
        one       two     three
a  1.026425  0.269625 -0.909831
b       NaN       NaN       NaN
c -0.474820 -0.282352 -0.254088
d       NaN       NaN       NaN
e -0.468462  0.313884  0.932545
f  0.980006  1.536773 -1.731291
g       NaN       NaN       NaN
h -0.932239  0.949792 -1.625921
After Filling
        one       two     three
a  1.026425  0.269625 -0.909831
b -0.474820 -0.282352 -0.254088
c -0.474820 -0.282352 -0.254088
d -0.468462  0.313884  0.932545
e -0.468462  0.313884  0.932545
f  0.980006  1.536773 -1.731291
g -0.932239  0.949792 -1.625921
h -0.932239  0.949792 -1.625921

DROP MISSING VALUES

In [8]:
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
print(df)
df1 = df.reindex(['a','b','c','d','e','f','g','h'])
print(df1)
print("Drop the Missing Values using Drop NA Function")
print(df1.dropna())

        one       two     three
a -1.004545 -0.777403 -1.607373
c -1.289273 -0.939339  0.118560
e -0.162397 -0.211794 -0.122847
f  2.232897 -0.165743 -0.726791
h  0.571958  1.302435 -1.397000
        one       two     three
a -1.004545 -0.777403 -1.607373
b       NaN       NaN       NaN
c -1.289273 -0.939339  0.118560
d       NaN       NaN       NaN
e -0.162397 -0.211794 -0.122847
f  2.232897 -0.165743 -0.726791
g       NaN       NaN       NaN
h  0.571958  1.302435 -1.397000
Drop the Missing Values using Drop NA Function
        one       two     three
a -1.004545 -0.777403 -1.607373
c -1.289273 -0.939339  0.118560
e -0.162397 -0.211794 -0.122847
f  2.232897 -0.165743 -0.726791
h  0.571958  1.302435 -1.397000

REPLACE MISSING (OR) GENERIC VALUES

In [13]:
df= pd.DataFrame({'one':[10,20,30,40,50,2000],'two':[1000,0,30,40,50,60]})
print("Before Replacement")
print(df)
print("After Replacement")
print(df.replace({1000:10,2000:60,0:20}))

Before Replacement
    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60
After Replacement
   one  two
0   10   10
1   20   20
2   30   30
3   40   40
4   50   50
5   60   60