MARKET BASKET

HOW DOES MARKET BASKET ANALYSIS WORK?
IT IS FREQUENTLY USED IN RESTAURANTS,RETAIL STORES AND ONLINE SHOPPING PLATFORMS TO ENCOURAGE CUSTOMERS TO MAKE MORE PURCHASES IN A SINGLE VISIT. THIS IS A USE CASE OF DATA SCIENCE IN MARKETING THAT INCREASES COMPANY SALES AND DRIVES BUSINESS GROWTH ABD COMMONLY UTILIZES THE APRIORI ALGORITHM

WHAT IS APRIORI ALGORITHM?
IT IS THE MOST COMMON TECHNIQUE FOR PERFORMING MARKET BASKET ANALYSIS. IT IS USED FOR ASSOCIATION RULE MINING WHICH IS A RULE BASED PROCESS USED TO IDENTIFY CO-RELATIONS BETWEEN ITEMS PURCHASED AND THE USER.


WHAT ARE THE COMPONENTS OF APRIORI ALGORITHM?
1. SUPPORT - TO ASSESS THE OVERALL POPULARTY OF GIVEN PRODUCT WITH FOLLOWING FORMULA
             SUPPORT(ITEM) = ((Transactions comprising the item)/(Total transactions))
2. LIFT - REFERS TO THE INCREASE IN THE RATIO OF SALE 
            LIFT = (Confidence(Bread-> Milk)/Support(Bread))
3. CONFIDENCE - COMBINATION IS MATCHING.
                CONFIDENCE(Berad>Milk) = ((Tranasction compromising milk and bread)/(transaction compromsisng bread))

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('/workspaces/DAV/Groceries_dataset.csv')
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

DATA PREPARATION FOR MARKET BASKET ANALYSIS

BEFORE WE PERFORM MARKET BASKET ANALYSIS, WE NEED TO CONVERT THIS DATA INTO A FORMAT THAT CAN BE EASILY INGESTED INTO THE APRIORI ALGORITHM.

In [9]:
df['single_transaction'] = df['Member_number'].astype(str)+' , '+df['Date'].astype(str)+' , '+df['itemDescription'].astype(str)
df.head()

,Member_number,Date,itemDescription,single_transaction
0,1808,21-07-2015,tropical fruit,"1808 , 21-07-2015 , tropical fruit"
1,2552,05-01-2015,whole milk,"2552 , 05-01-2015 , whole milk"
2,2300,19-09-2015,pip fruit,"2300 , 19-09-2015 , pip fruit"
3,1187,12-12-2015,other vegetables,"1187 , 12-12-2015 , other vegetables"
4,3037,01-02-2015,whole milk,"3037 , 01-02-2015 , whole milk"

CONVERTING ITEMS INTO COLUMNS AND TRANSACTIONS INTP ROWS --> PIVOT

In [10]:
df2 = pd.crosstab(df['single_transaction'],df['itemDescription'])
df2.head()

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
single_transaction,,,,,,,,,,,,,,,,,,,,,
"1000 , 15-03-2015 , sausage",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"1000 , 15-03-2015 , semi-finished bread",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"1000 , 15-03-2015 , whole milk",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
"1000 , 15-03-2015 , yogurt",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
"1000 , 24-06-2014 , pastry",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0